<div id="<%= dom_id enrollment %>">
  <p>
    <strong>User:</strong>
    <%= enrollment.user_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= enrollment.teacher_id %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= enrollment.program_id %>
  </p>

  <p>
    <strong>Favorite:</strong>
    <%= enrollment.favorite %>
  </p>
</div>
